*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
}

:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

nav ul li{
    list-style: none;
    justify-content: space-between;
}

/* rules */

.ruleBox{
    font-size: 14px;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ruleBox{
    display: none;
    width: 540px;
    background: white;
    border-radius:5px ;
}

/* rule end */

.container {
    width: 750px;
    max-width: 85%;
    background-color:whitesmoke ;
    border-radius:6px;
    padding: 10px;
    box-shadow: 0 0 9px 3px;
    font-size: 30px;
}


.answer-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10.01px;
    margin: 20.01px 0;
}


.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30.01%);
    background-color: hsl(var(--hue), 100%, 49.99%);
    border-radius: 4.9px;
    padding: 5.01px 9.99px;
    outline: none;
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
}

.btn:hover {
    border-color: black:
}

.btn.correct{
    --hue: var(--hue-correct)
    color: black;
}

.btn.wrong{
    --hue: var(--hue-wrong)
}

.startBtn, .nextBtn {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide{
    display: none;
}




























/* .startBtn button{
    background-color: rgb(155, 40, 155);
    font-size: 25px;
}

.startBtn button:hover{
    cursor: pointer;
    box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
    transform: scale(1.1);
    background: rgb(51, 165, 51);
} */

/* buttons start */

/* .buttons{
    display: flex;
    padding: 5px;
    cursor: pointer;
}
.continue{
        font-size: .9rem;
        border: none;
        background: rgb(155, 40, 155);
        padding: 1rem;
        border-radius: 4px;
        margin-bottom: 0.8rem;
        margin-right: 5px;
    }
    
    .continue:hover{
        cursor: pointer;
        box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
        transform: scale(1.1);
        transition: transform 150ms;
        background: rgb(200, 220, 22);
    }
    
.exit{
    font-size: .9rem;
    border: none;
    background: rgb(90, 5, 90);
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;
}

.exit:hover{
    cursor: pointer;
    box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
    background: rgb(200, 220, 22);
} */
/* buttons end*/

/* progress start */

/* #myProgress {
    width: 100%;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
    animation: progress-animation 5s forwards;
  }

#play-animation{
    animation: progress-animation 5s forwards;

}

@keyframes progress-animation{
    0% {width: 0%;}
    100% {width: 100%;} */
} 
/* progress end */

/* timer start */
/* p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  } */
/* timer end */

/* highscore start */
/* .highScoreBtn{
    font-size: 2rem;
    border: none;
    background: rgb(155, 40, 155);
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;

}

.highScoreBtn:hover{
    cursor: pointer;
    box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
    transform: scale(1.1);
    transition: transform 150ms;
    background: rgb(51, 165, 51);

}  */
/* highscore end */



/* home page end */

@media (max-width: 690px) {
}
@media (max-width: 500px) {
}