*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
}

body{
    background-color: rgb(187, 187, 187);

}

h1{
    font-size: 4rem;
    color: white;
}
h2{
    color:rgb(155, 40, 155);
    }
strong{
    color: rgb(155, 40, 155);
}

/* buttons */
/* start */
/* rules */
.startBtn button,
.ruleBox{
    font-size: 14px;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startBtn button{
    background-color: rgb(155, 40, 155);
    font-size: 25px;
}

.startBtn button:hover{
    cursor: pointer;
    box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
    transform: scale(1.1);
    background: rgb(51, 165, 51);
}

/* start end */
.ruleBox{
    display: none;
    width: 540px;
    background: white;
    border-radius:5px ;
}

/* rule end */
.buttons{
    display: flex;
    padding: 5px;
    cursor: pointer;
}
.continue{
        font-size: .9rem;
        border: none;
        background: rgb(155, 40, 155);
        padding: 1rem;
        border-radius: 4px;
        margin-bottom: 0.8rem;
        margin-right: 5px;
    }
    
    .continue:hover{
        cursor: pointer;
        box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
        transform: scale(1.1);
        transition: transform 150ms;
        background: rgb(200, 220, 22);
    }
    
.exit{
    font-size: .9rem;
    border: none;
    background: rgb(90, 5, 90);
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;
}

.exit:hover{
    cursor: pointer;
    box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
    transform: scale(1.1);
    transition: transform 150ms;
    background: rgb(200, 220, 22);
}
/* buttons end*/

/* progress start */

#myProgress {
    width: 100%;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
    animation: progress-animation 5s forwards;
  }

#play-animation{
    animation: progress-animation 5s forwards;

}

@keyframes progress-animation{
    0% {width: 0%;}
    100% {width: 100%;}
} 
/* progress end */

/* quiz page start */
.theQuiz{
    display: none;
    width 250px;
    background-color: white;
    border-radius: 5px;
}
#question{
    font-size: 2.4rem;
}

.choiceContainer{
    color: white;
    background-color: rgb(155, 40, 155);
    display: flex;
    width: 100%;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    min-width: 80rem;
}

.choiceContainer:hover{
    cursor: pointer;
    box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
    transform: scale(1.1);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 2rem 2.4rem;
    color: white;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct{
    background: linear-gradient(32deg, rgb(12, 134, 12) 0%, rgb(13, 145, 13) 100%);
}

.incorrect{
    background: linear-gradient(32deg, rgb(255, 0, 0) 0%, rgb(252, 5, 5) 100%);

/* #home{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}



.highScoreBtn{
    font-size: 2rem;
    border: none;
    background: rgb(155, 40, 155);
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;

}

.highScoreBtn:hover{
    cursor: pointer;
    box-shadow:0 0.04rem 1.4rem 0  rgb(34, 34, 34);
    transform: scale(1.1);
    transition: transform 150ms;
    background: rgb(51, 165, 51);

} */
/* home page end */

/*.quizContainer{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: #fff;
    border-radius: 5px;

}

.quizContainer header{
    height: 70px;
    padding: 0 30px;
    background:  #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0); */
}


/* QUIZ PAGE START */

/*#question{
    font-size:2.8rem ;
}




.choiceBtn{
    font-size: 1.7rem;
    border: none;
    background: rgb(155, 40, 155);
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.8rem;
}





}*/

/* hud start */
/* 
#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
} */
/* hud end */


/* timer start */
/* p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  } */
/* timer end */
/* next button start */
/* .nextBtn{
    font-size: 1.5rem;
    border: none;
    background: transparent;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    color: white;

}
.nextBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 150ms;
} */
/* next button end */
/* QUIZ PAGE END */

@media (max-width: 690px) {
}
@media (max-width: 500px) {
}